@font-face{
	font-family: myFirstFont;
	src: url(fonts/Semi-Coder-Regular.otf);
}
/* */

/* left margin removed */
body{
	sbackground: red;
	sborder-style: dotted;
	sbox-sizing: border-box;
	margin-left: 0;
}
/* header - all */
h1{
	font-size: 4vw;
	font-style: bold;
	font-family: myFirstFont; 
	color:0;
	vertical-align: middle;
	margin:0;

}

img{
	width: auto;
	height: 70%;
	animation-name: rotateImg;
	animation-duration: 2s;
}

@keyframes rotateImg{
	from{ transform: rotate(360deg);
	}
}

#skills h2{
	
	gcolor: #E85078;
	sbackground: white;
	font-style: bold;
	font-family: myFirstFont; 
	text-align: center;
	margin:0;
}


/* first block*/
/*just set top position individually by id*/
.blocks{
	position: absolute;
	width: 100%;
	height: 100vh;
	vborder: 10px solid red;

}

/* top sub-block*/
.subblock-top{
	position: absolute;
	top:0;
	height: 50%;
	width:100%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
}

/* bottom sub-block*/
.subblock-bot{
	position: absolute;
	bottom:0;
	height: 50%;
	width:100%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
}
/* left sub-block*/
.subblock-left{
	position: absolute;
	left:0;
	height: 100%;
	width:50%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
}
/* right sub-block*/
.subblock-right{
	position: absolute;
	right:0;
	height: 100%;
	width:50%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
}
/* center sub-block*/
/* isnt perfectly dynamically center*/
.subblock-center{
	position: absolute;
	top:25%;
	left:25%;
	height: 50%;
	width: 50%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
	background-color: whiste;
}

/*skill bar divs*/
.skillBar{
	font-size: 2vw;
	font-style: bold;
	font-family: myFirstFont; 
	color: white;
	bbackground-color: #E85078;
	vmargin-top: 100%;
	animation-name: expand;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}

/*skill bar divs*/
.skillName{
	font-size: 2vw;
	font-style: bold;
	font-family: myFirstFont; 
	fcolor: #E85078;
	background-color: white;
	vmargin-top: 100%;
	animation-name: panLeft;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}


@keyframes expand{
	from{width: 0;}
	
}
@keyframes panLeft{
	0%{
		width:200%;
		color: #fff;
	}
	60%{
		color: #fff;
	}
	100%{
		width: 100%;
	}
}

/* first block*/
#main-header{
	top:0;
}


/* top subblock of first block*/
#hi-div{
	cvbackground: #E85078;
	text-align: center;
	
}

/* bottom subblock of first block */
#changing-div{
	background: white;
	text-align: center;
}

/* text in top half of first blocok */
#hi-div h1{
	position: absolute;
	width:100%;
	bottom:0;
	color: white;
	vbackground: #E85078;
}

/* text in bottom half of first blocok */
#second-text{
	position: absolute;
	width:100%;
	top: 0;
	dcolor: #E85078;
	sbackground: white;
	animation-name: panUp;
	animation-duration: 4s;
	animdation-delay: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}
/* animation */
/* add JS to loop change text on time  DONE*/
/*work on how much it should pan up*/
@keyframes panUp{
	0%{top:-80px}
	30%{top:0;}
	70%{top:0;}
	100%{top:-80px;}
}

#scroll-down-button{
	border: none;
	left:50%;
	width: 80px;
	height: 80px;
	bottom: 10%;
	border-radius: 50%;
}

/* second block*/
#info-skills{
	top:100%;
	background-color: #777;
}

/* add photo and little info */
#small-info{
	background-color: white;
}

#skills{
	background-color: white;
}
/* adding skills graph */
#skills-graph{
	background-color: gsreen;
	margin-top: 0;
	top:20%;
}

/*giving titile to skill bars*/
#skills-title{
	left: 0;
	width:23%;
	top:20%;
	background-color: orsange;
	text-align: right;
}
#image-info{
	background-color: ggreen;
	top:70%;
	width: 50%;
	text-align:center;
	font-family: myFirstFont;
}

.lavender-background{
	background-color: #8a4ea6;
	/* 8a4ea6  E85078*/
}
.lavender-color{
	color: #8a4ea6;
}

#portrait-image{
	position: absolute;
	top:12.5%;
	left: 25%;
}


/* fixing minimum text size even after screen width if longer */
@media screen and (min-width: 820px) {
  h1 {
     font-size: 36px;
  }
  .skillbar {
  	font-size: 18px;
  }
}

/* second block */
#rest-text{
	position: absolute;
	top:200%;

}

