@font-face{
	font-family: myFirstFont;
	src: url(fonts/Semi-Coder-Regular.otf);
}
/* */

/* left margin removed */
body{
	sbackground: red;
	sborder-style: dotted;
	sbox-sizing: border-box;
	margin-left: 0;
}
/* header - all */
h1{
	font-size: 4vw;
	font-style: bold;
	font-family: myFirstFont; 
	color:0;
	vertical-align: middle;
	margin:0;

}

/* first block*/
/*just set top position individually by id*/
.blocks{
	position: absolute;
	width: 100%;
	height: 100vh;
	vborder: 10px solid red;

}

/* top sub-block*/
.subblock-top{
	position: absolute;
	top:0;
	height: 50%;
	width:100%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
}

/* bottom sub-block*/
.subblock-bot{
	position: absolute;
	bottom:0;
	height: 50%;
	width:100%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
}
/* left sub-block*/
.subblock-left{
	position: absolute;
	left:0;
	height: 100%;
	width:50%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
}
/* right sub-block*/
.subblock-right{
	position: absolute;
	right:0;
	height: 100%;
	width:50%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
}
/* center sub-block*/
/* isnt perfectly dynamically center*/
.subblock-center{
	position: absolute;
	top:25%;
	left:25%;
	height: 50%;
	width: 50%;
	zborder-style: dotted;
	margin: 0;
	border: 0;
	margin-bottom: 30%;
	background-color: whitw;
}

/*skill bar divs*/
.skillBar{
	font-size: 2vw;
	font-style: bold;
	font-family: myFirstFont; 
	color: white;
	background-color: #E85078;
	vmargin-top: 100%;
	animation-name: expand;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}

@keyframes expand{
	from{width: 0;}
	
}

/* first block*/
#main-header{
	top:0;
}


/* top subblock of first block*/
#hi-div{
	background:#E85078;
	text-align: center;
}

/* bottom subblock of first block */
#changing-div{
	background: white;
	text-align: center;
}

/* text in top half of first blocok */
#hi-div h1{
	position: absolute;
	width:100%;
	bottom: 0;
	color: white;
	background: #E85078;
}

/* text in bottom half of first blocok */
#changing-div h1{
	position: absolute;
	width:100%;
	top: 0;
	color: #E85078;
	sbackground: white;
	animation-name: panUp;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
/* animation */
/* add JS to loop change text on time */
@keyframes panUp{
	0%{}
	40%{top:0;}
	100%{top:-20%;}
}



/* second block*/
#info-skills{
	top:100%;
	background-color: #777;
}

/* add photo and little info */
#small-info{
	background-color: white;
}

#skills{
	background-color: white;
}
/* adding skills graph */
#skills-graph{
	bahckground-color: white;
}



/* fixing minimum text size even after screen width if longer */
@media screen and (min-width: 820px) {
  h1 {
     font-size: 36px;
  }
  .skillbar {
  	font-size: 18px;
  }
}

/* second block */
#rest-text{
	position: absolute;
	top:200%;

}

